* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  // --color-primary: hsl(172, 100%, 39%);
  --color-primary: hsl(166, 100%, 70%);
  --color-broadcaster: #dedf40;
  --color-moderator: #d367c1;
  --color-subscriber: #62cb5c;
  // --color-surface: #222;
  --color-surface: #0b1127;
  // --color-alt: hsl(172, 100%, 90%);
  --color-alt: hsl(166, 100%, 90%);
}

body {
  font-family: "Baloo 2", sans-serif;
  font-weight: 500;
  // Better represent what transparent areas will appear as in OBS
  background-color: #000;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

header {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 56px 35ch 1fr;
  background-color: var(--color-surface);
  color: var(--color-primary);
  font-size: 1.25rem;
  letter-spacing: 0.03em;
  border-top-width: 5px;
  border-top-style: solid;
  border-image: linear-gradient(
      35deg,
      #d367c1 30%,
      #dedf40 50%,
      #62cb5c 75%,
      var(--color-primary) 90%
    )
    1;

  .cta {
    color: var(--color-surface);
    background-color: var(--color-primary);
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  h1 {
    font-size: 1.5rem;
  }

  #title {
    width: fit-content;
    padding: 1rem;
  }

  .commands {
    width: fit-content;
    list-style: none;
    margin: 0.25rem 0 0;
    padding: 0 0.15em;
    border: 1px dashed;
    display: flex;
    flex-wrap: wrap;

    li {
      font-size: 1rem;
      padding: 0.15em 0.25em;
    }
  }
}

#logo {
  align-self: center;
  margin:  0 -.25rem 0 .75rem;
}

#chatbox {
  position: relative;
  overflow: hidden;
  height: 110px;
  margin-top: 20px;
  width: 100%;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--color-alt);
  font-weight: normal;
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  border-left: 1px dashed;

  strong {
    color: var(--color-primary);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background: linear-gradient(0deg, transparent, var(--color-surface));
  }

  .is-broadcaster {
    > strong {
      color: var(--color-broadcaster);
    }
  }

  .is-moderator {
    > strong {
      color: var(--color-moderator);
    }
  }

  .is-subscriber {
    > strong {
      color: var(--color-subscriber);
    }
  }
}

#chatter {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  gap: 0.25rem;
  padding: .25rem 1rem;
}
