---
title: Host
---

<div class="host"></div>
<div class="ctas">
  <h2>Bienvenue !</h2>
  <p>D'où viens-tu ?</p>
  <p>Que souhaites-tu apprendre ?</p>
  <h3>Commandes du chat :</h3>
  <ul class="list-aligned">
  {% for command in stream.chatCommands %}
  <li>!{{ command }}</li>
  {% endfor %}
  </ul>
</div>